@model IEnumerable<string>

@{

        Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="board" class="green">
    <div class="row" style="display:inline-flex;">
        <div class="brelllolist-wrapper">
            <div class="brellolist-header">
        <div class="brellolist">
            <ul class="center">
                @foreach (var item in Model)
            {
                    <li style="list-style:none;" class="text-center"><a href="https://google.com">@item</a></li>
                }
            </ul>
        </div>
                <div class="brellolist-footer">
        <div class="brellolist">
            <ul class="center">
                @foreach (var item in Model)
            {
                    <li style="list-style:none;" class="text-center"><a href="https://google.com">@item</a></li>
                }
            </ul>
        </div>
        <div class="brellolist">
            <ul class="center">
                @foreach (var item in Model)
            {
                    <li style="list-style:none;" class="text-center"><a href="https://google.com">@item</a></li>
                }
            </ul>
        </div>
    </div>
</div>